.container {
  width: 100%;
  height: 100vh;
}
.container .noConnect {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .noConnect p {
  font-size: 1.5rem;
  font-weight: 600;
}