.container {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container p {
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
}

.container p span {
    color: var(--primary-color);
    font-style: italic;
}

.container button {
    padding: 10px 40px;
    border: 0;
    font-size: 1rem;
    border-radius: 5px;
    background: var(--primary-color);
    font-weight: 500;
    color: white;
}

.container button:hover {
    background: var(--primary-dark-color);
    cursor: pointer;
}